@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/site.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DbExamen2.styles.css" asp-append-version="true" />
    <title>Cambio contraseña</title>
</head>
<body>


    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <form asp-action="ValidatePasswChang" asp-controller="Password" method="POST">
                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Cambio de contraseña</h2>
                                <p class="text-white-50 mb-5">Sus datos personales</p>

                                    @if (@ViewBag.message == "Error en el ingreso de la contraseña")
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            <p>Ha ocurrido un error en el ingreso de la información, por favor verifique que las contraseñas nuevas sean identicas o que no hayan campos incompletos</p>
                                        </div>
                                    }

                                    @if (@ViewBag.message1 == "Contraseña igual a las ultimas 7 contraseñas, por favor intente con otra")
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            <p>Contraseña igual a las ultimas 7 contraseñas, por favor intente con otra</p>
                                        </div>
                                    }

                                <div class="form-outline form-white mb-4">
                                        <input type="text" name="txtActualPassw" id="txtActualPassw" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{8,}$" required title="Los password deben contener al menos 8 caracteres, al menos una mayuscula,al menos una minuscula, al menos un numero y al menos un caracter especial" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX">Contraseña actual</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                        <input type="password" name="txtNewPassw1" id="txtNewPassw1" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{8,}$" required title="Los password deben contener al menos 8 caracteres, al menos una mayuscula,al menos una minuscula, al menos un numero y al menos un caracter especial" class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordX">Contraseña nueva</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                        <input type="password" name="txtNewPassw2" id="txtNewPassw2" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{8,}$" required title="Los password deben contener al menos 8 caracteres, al menos una mayuscula,al menos una minuscula, al menos un numero y al menos un caracter especial" class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordX">Repita la contraseña nueva</label>
                                </div>
                                
                               
                                    <input name="txtInput" value="@ViewBag.session" hidden />

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Cambiar contraseña</button>

                            </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
</html>
